<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlatSharp" version="4.0.1" targetFramework="net472" />
  <package id="FlatSharp.Compiler" version="4.0.1" targetFramework="net472" developmentDependency="true" />
  <package id="FlatSharp.Runtime" version="4.0.1" targetFramework="net472" />
  <package id="FlatSharp.Unsafe" version="4.0.1" targetFramework="net472" />
  <package id="ILRepack" version="2.1.0-beta1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.9.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.4.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="3.4.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.4.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="3.4.0" targetFramework="net472" />
  <package id="Microsoft.Net.Compilers" version="3.8.0-3.final" targetFramework="net472" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Composition" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>